.Order {
    width: 100%;
    border: solid 1px #eee;
    box-shadow: 0 2px 3px #cccccc;
    margin: 1rem auto;
    padding: 1rem;
}

.Order ul {
    margin: inherit;
    padding: inherit;
    padding-left: 4rem;
}