.Burger {
    width: 100%;
    margin: 0 auto;
    height: 25rem;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}


@media only screen and ( min-width: 31.25em ) and ( min-height: 25.0625em ) {
    .Burger {
        width: 35rem;
        height: 30rem;
    }
}

@media only screen and ( min-width: 31.25em ) and ( min-height: 25.0625em ) {
    .Burger {
        width: 45rem;
        height: 40rem;
    }
}

@media only screen and ( min-width: 62.5em ) and ( min-height: 43.75em ) {
    .Burger {
        width: 70rem;
        height: 60rem;
    }
}