.Toolbar {
    height: 5.6rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #703b09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media screen and (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}