.SideDraw {
    position: fixed;
    width: 28rem;
    max-width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #fff;
    padding: 3.2rem 1.6rem;
    transition: transform .3s ease-out;
}

@media screen and (min-width: 500px) {
    .SideDraw {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 3.2rem;
}