.ContactData {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    border: solid 1px #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 1rem;
}

@media only screen and (min-width: 600px)  {
    .ContactData {
        max-width: 500px;
    }
}