.inputDiv {
    width: 100%;
    padding: 1rem;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: .8rem;
}

.inputElement {
    display: block;
    padding: 5px 0 5px 1rem;
    width: 100%;
    outline: none;
    border: solid 1px #ccc;
    font: inherit;
    background-color: #f8f8f8;
}

.inputElement:focus {
    background-color: #fff;
    border-color: #9c9c9c;
}

.inputElement:not(:last-child) {
    margin-bottom: 1rem;
}

.invalid {
    border-color: #960000;
    background-color: #ffa1a1;
}