.Auth {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    border: solid 1px #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 1rem;
}

.errorMessage {
    color: rgb(148, 0, 0);
    font-weight: bold;
    padding: 0 .5rem;
    text-align: center;
}

@media only screen and (min-width: 600px)  {
    .Auth {
        max-width: 500px;
    }
}