.NavigationList {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media screen and (min-width: 500px) {
    .NavigationList {
        flex-flow: row;
    }
}